<div class="col-3">
  <% if user_signed_in? %>
  <div class="card mb-4">
    <div class="d-flex card-title pt-3 ps-3">
      <div class="flex-shrink-0">
        <%= gravatar_image_tag(current_user.email, size: 60, alt: current_user.name) %>
      </div>
      <div class="flex-grow-1 ms-3">
        <h5><%= current_user.name %></h5>
        <%= link_to edit_user_registration_path, class: "" do %>
      <span><i class="fa-solid fa-pen-to-square px-1"  style="color: gray;" aria-hidden="true"></i></span>
    <% end %>
        <small>@<%= current_user.username %></small>
      </div>
    </div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Chirps</th>
      <th scope="col">Followers</th>
      <th scope="col">Following</th>
    </tr>
  </thead>
    <tr>
      <td><%= current_user.chirps.count %></td>
      <td>798</td>
      <td>12</td>
    </tr>
</table>
  </div>
  <% end %>
  <div class="card">
    <div class="card-header" style="background-color: #E8F4F9;">
      Trending
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
</div>
